<section class="conteiner custom-section">
  <div class="row">
    <div 
    class="col-md"
      data-aos="fade-up"
      data-aos-offset="400"
      data-aos-duration="500"
      >
        <img id="Imagen1" src="https://i.imgur.com/ePdqMZz.png" class="img-fluid" alt="" height="500" width="750">
    </div>
    <div class="cb col-md">
    <p class="card-text">
     <h1 id="Quien soy">Quien Soy</h1>
     <p>Mi nombre es Federico Tomás Florio, tengo 21 años. Soy estudiante de Ciencias de la atmosfera y tengo entusiasmo por la programacion. </p>
     <p>En el 2020 decidi realizar cursos para adquirir conocimientos basicos en programacion devido a su utilidad. <br>
      Ademas de ser un desafio para mi, considero que la programacion es una disiplina muy amplia y una herramienta muy util. 
      Cuyo limite y utilidad es la propia curiosidad y creatividad que tenga la persona que decida aprender esta disiplina.</p>        
    <p>A su vez me fascinan los fenomenos meteorologicos, me gusta entender el porque ocurren las cosas 
      y las distintas aplicaciones que tienen la matematica, fisica y quimica para tratar de anticipar y explicar los fenomenos que ocurren.</p>
    
    <a target="_blank" href="https://www.linkedin.com/in/federico-florio-135aa323b/">
      <i class="fa fa-github" >
    </i> CV </a>
  </div>
</div>
</section>


