<section class="conteiner custom-section">
    <div class="row">
      <div class="cb col-md">
      <p class="card-text">
        <h1 id="Educacion">Educacion</h1>
      <p>Actualmente estoy cursando la Licenciatura en Ciencias de la atmosfera . <br>
        Enero 2019 - Actualidad .  <br>
        Facultad de ciencias excactas y naturales de la UBA 
      </p>
      <p>Actualmente estoy cursando la segunda Etapa de Argentina Programa  &nbsp; &nbsp;<br>
        Febrero 2022 - Agosto 2022 <br>
        Cámara de la industria Argentina del software (CESSI) 
        </p>
      <p>Curse la Primera Etapa Argentina Programa &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
        Octubre 2021- Diciembre 2021 <br>
        Cámara de la industria Argentina del software (CESSI) 
      </p>
      <p>Bachiller con orientación en economía y administración &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; <br>
        Enero 2013 - diciembre 2018<br>
        Instituto Evangélico Luis Siegel (I.E.L.S.)
      </p>
      
      <a target="_blank" href="https://exactas.uba.ar/"><i class="fa fa-github" >
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Logo_exactas.svg/1200px-Logo_exactas.svg.png"alt="" width="50"  class="d-inline-block align-text-top"
       >
      </i> Ver UBAFCEN </a>
    </div>
    <div 
      class="col-md"
        data-aos="fade-up"
        data-aos-offset="500"
        data-aos-duration="500"
        >
        <img id="imagen2" 
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Logo_exactas.svg/1200px-Logo_exactas.svg.png" 
        class="img-fluid" 
        alt=""
        height="500"
        width="750">
        
      </div>
  </div>
  </section>
