<section class="conteiner custom-section">
    <div class="row">
      <div 
      class="col-md"
        data-aos="fade-up"
        data-aos-offset="600"
        data-aos-duration="500"
        >
        <img id="Imagen3" 
        src="https://i.imgur.com/DiiNU1F.png" 
        class="img-fluid" 
        alt=""
        height="500"
        width="750"> 
      </div>
      <div class="cb col-md">
      <p class="card-text">
        <h1>*Habilidades</h1>
      <a target="_blank" href="http://github.com/fedexxF">
        <img 
        src="https://cdn-icons-png.flaticon.com/512/5968/5968846.png"
        alt="" 
        width="25"  
        class="d-inline-block align-text-top"
       >
        <i class="fa fa-github" >
      </i> Ver Github </a>
    </div>
  </div>
  </section>